$primary_background: rgb(19, 113, 175);
$global-shadow: 3px 5px 26px rgba(133,147,180,.7);
$global-shadow-hover: 3px 5px 20px rgba(133,147,180,.5);
$global-dark-shadow: 3px 5px 26px rgba(0, 0, 0, .5);