html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.wrapper {
  padding: 100px 20px 20px;
}

.divider {
  width: 80%;
}

.hours-wrapper {
  color: white;
  width: 20vw;
  height: 80vh;
  background-color: #2196F3;
  border-radius: 10px;
}

.hours-header {
  text-align: center;
}

.hours-form {
  padding: 0 20px;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-group input {
  margin-left: 20px;
  padding: 3px;
  border-radius: .4rem;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25);
  border: none;
  height: 30px;
}