@import '../globals';

.hours-wrapper {
  margin: 0 2.5%;
  width: 95%;
  height: 45%;
  background-color: $white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  

  .hours-form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 80%;
    
    .form-group {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 14%;
      height: 100%;
      padding: 10px 10px;
      
      .day {
        color: $content-text-color;
        border-bottom: 2px solid $primary;
      }
    
      .pickers-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        
        .closed-btn {
          padding: 0 10px;
          color: $primary;
          margin: auto;
          border-radius: 2em;
          border: 3px solid $primary;
          cursor: pointer;

          &:hover {
            color: $white;
            background-color: $primary;
            transition: all 300ms ease-in-out;
          }
        }
      }

      p  {
        margin: 0;
        margin-top: 10px;
      }
      
    }
  }
}