@import '../globals';

* {
  box-sizing: border-box;
  user-select: none;

  &::selection {
    background-color: white;
    color: $primary
  }
}



html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 3px;
  overflow: hidden;
  background:   $content-background;
}


.wrapper {
  padding: 100px 20px 20px;
  box-sizing: border-box;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
  padding: 1em 0 0 200px;
}

.divider {
  width: 80%;
}
