.events-wrapper {
  background-image: url('../Images/Events.webp');
  
  .event-list-wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
    @media screen and (max-height: 650px) { 
      font-size: .8em;
    }
    
    @media screen and (max-width: 766px) {
      font-size: .9em;
    }

    .event-list-header {
      letter-spacing: 3px;
      text-align: center;
      color: white;
      
      h1 {
        margin: 0;
      }
    }
    
    .events-list {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      
      .no-events {
        text-align: center;
      }
      
      .event-wrapper {
        margin: 20px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .event-date {
          padding: 0 8px 8px 8px;
          display: table;
          text-align: center;
          vertical-align: middle;
          border-radius: 50%;
          color: black;
          background-color: white;
          
          p {
            font-size: 1em;
            margin: auto;
          }
        }
        
        .event-info {
          width: 80%;

          .event-info-header {
            font-size: 1em;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            
            .event-name-time {
              margin: 0;
            }
          }
          
          .event-desc {
            margin: 0;
            font-size: 1em;
            
            @media screen and (max-width: 766px) {
              font-size: .8em;
              height: 0;
              overflow: hidden;
              transition: all 300ms ease-in-out;
              
              p {
                margin-top: 5px;
              }
            
            }
          }

          .open {
            transition: all 300ms ease-in-out;
            @media screen and (max-width: 766px) {
                height: 100%;
            }
          }
          
          .read-more {
            display: none;

            @media screen and (max-width: 766px) {
              margin: 5px auto;
              text-align: center;
              display: block;
              cursor: pointer;
              user-select: none;
            }
          }
        }
      }
    }
  }
}





